@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

html {
    --color-60p: #222831;
    --color-30p: #007880;
    --color-10p: #FDC57B;
    --color-10p-shade: #e99f4b;

    font-family: 'Wix Madefor Display', sans-serif;
    color: white;
    
    background-repeat: no-repeat;
    background-color: var(--color-60p);
    height: 100%;

    display: grid;
    place-items: center top;
}

body {
    width: min(100ch, calc(100% - 4rem));
    margin: 0;
    margin-inline: auto;
}