@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

html {
    --neutral-color-0: #1d1e25;
    --neutral-color-1: #30323a;
    --neutral-color-15: #44444d;
    --neutral-color-2: #5f5f66;

    --neutral-border-0: #3d4358;

    --primary-color-0: #0d4fa5;
    --primary-color-1: #3b8ffc;
    --primary-color-2: #50d6ff;

    --secondary-color-0: #b45d00;
    --secondary-color-1: #e68b00;
    --secondary-color-2: #f9c510;
    --secondary-color-3: #ffd437;


    width: min(90ch, calc(100% - 2rem));
    margin-inline: auto;


    font-family: 'Wix Madefor Display', sans-serif;
    color: white;

    background-color: var(--neutral-color-0);
}

body {
    margin: 0;
    overflow-x: hidden;
}


.big-text {font-size: min(8vw, 2.4rem);}
.medium-text {font-size: min(4vw, 1.5rem);}
.small-text {font-size: min(4vw, 1.3rem);}

.text-justify {text-align: justify;}
.text-centered {text-align: center;}

h1, h2, h3, h4, .big-text, .medium-text, .small-text {
    cursor: default;
}