header {
    display: grid;
    grid-auto-flow: column;
    place-items: start;
    position: relative;
    width: 100%;

    grid-template-columns: 1.5fr 2fr;
}

header > svg {
    z-index: -1;
    position: absolute;
    transform: translate(0, -60%);
    scale: 50%;
}

.image-wrapper {
    background-color: var(--secondary-color-1);
    border-radius: 1rem;
    width: 100%;
}

.image-wrapper > img {
    transform: translate(0.5rem, -0.5rem);
    width: 100%;
    border-radius: 1rem;
}

.text {
    font-size: large;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.text > h1, p {
    margin: 0 0 0 0;
    padding-left: 1rem;
}

.text > h1 {
    background-color: var(--primary-color-1);
    border-radius: 0 4rem 0 0;

    margin-bottom: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    
    display: flex;
    align-items: center;
}